*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Protest Riot', sans-serif;
}

body{
    background-color: rgb(255, 238, 145);
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 30%;
    height: 400px;

}

.img{
    height: auto; 
    margin-left: 0px;
    width: 100%;

}

body h1{
    font-size: 70px;
    text-align: center;
    padding-top: 40px;
}